<footer>
    <p aria-hidden="true">
        ***
    </p>

    <p>
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Creative Commons contract"
                style="border-width:0" 
                src="/assets/img/cc-by.png" />
        </a><br />
        All content published under a<br />
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            Creative Commons Attribution 4.0 International license</a>.
    </p>

    <nav>
        <ul>
            <li><a href="/rss.xml">RSS</a></li>
            <li><a href="/feed.json">JSON Feed</a></li>
        </ul>
    </nav>
</footer>
