<nav>
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="https://codeberg.org/faith-rodeo/pages">Source</a></li>
        <li><a href="/fr/">fr</a></li>
    </ul>
</nav>
