.tag-noble { color: purple; }
.tag-crofter { color: green; }
.tag-water { color: blue; }

body {
    padding: 0;
    margin: 0;
}

.main {
    padding-left: 20%;
    padding-right: 20%;
}

a { color: black; }
a:visited {
    color: black;
    border: none;
}

.post-list > .post-list-item {
    border-bottom-width: 2px;
    border-bottom-color: black;
}

.post-list:last-child {
    border-bottom: none;
}

nav {
    text-align: center;
    font-size: 1.1em;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer {
    margin-top: 50px;
    padding: 3%;
    text-align: center;
}

footer > p {
    margin-bottom: 50px;
}

footer > nav { margin-bottom: 0px; }

footer > nav > ul > li > a { 
    text-decoration: none;
}

footer > nav > ul { 
    margin-top: 10px;
    margin-bottom: 8px;
}

nav > ul {
    list-style: none;
    padding: 0;
}

nav > ul > li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

nav > ul > li > a { 
    color: black;
    text-decoration: none;
}

nav > ul > li > a:hover { text-decoration: underline; }

h1 {
    font-size: 3.5em;
    text-align: center;
    margin: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

h1.index-header {
    font-size: 4em;
}

/** For the site's tagline on the home page **/
.tagline {
    font-size: 1.3em;
    margin: 10px;
}

.head {
    padding-top: 5%;
    padding-bottom: 5%;
}

.centre {
    text-align: center;
}

.date {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0em;
}

/* POSTS */
.post-header {
    margin-left: 2em;
    margin-right: 2em;
}

/** All post content, including the title, frontmatter, etc. **/
.post-content {
    padding-left: 10%;
    padding-right: 10%;
}

/** The text content of the post **/
.post-text {
    text-align: justify;
    text-indent: 2em;
    font-size: 1.1em;
}

.post-text > p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

/** First paragraph and all following headers shouldn't be indented **/
.post-text > p:first-child,
.post-text > h2 + p,
.post-text > h3 + p,
.post-text > h4 + p,
.post-text > h5 + p,
.post-text > h6 + p {
    text-indent: 0;
}

/** Block qutoes and headers shouldn't be indented. It looks kinda ugly **/
.post-text > blockquote { text-indent: 0; }
h2, h3, h4, h5, h6 {
    text-indent: 0;
    text-align: left;
}

/** Author, date published, etc **/
.post-frontmatter {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.3em;
}

@media screen and (max-width: 768px) {
    h1.index-header { font-size: 13vw; }

    .main {
        padding-left: 2%;
        padding-right: 2%;
    }

    .post-content {
        padding-left: 0;
        padding-right: 0;
    }

    .post-header {
        margin: 0;
    }
  }
