---
layout: default.liquid
title: faith.rodeo
---
<div class="head">
    <h1 class="index-header">{{ page.title }}</h1>
    <p class="centre tagline">
        {{ site.description }}
    </p>
</div>

<div class="post-list">
    {% for post in collections.posts.pages %}
        <div class="post-list-item">
            <h2>
                <a href="{{ post.permalink }}">
                    {{ post.title }} - by {{ post.data.author }}
                </a>
            </h2>
            <p class="date">{{ post.data.date }}</p>
            {{ post.excerpt}}
        </div>
    {% endfor %}
</div>

